<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>PetInfoServlet</display-name>
    <servlet-name>PetInfoServlet</servlet-name>
    <servlet-class>PetInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetInfoServlet</servlet-name>
    <url-pattern>/PetInfoServlet</url-pattern>
  </servlet-mapping>
  <display-name>Task_java_advanced</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PetListServlet</display-name>
    <servlet-name>PetListServlet</servlet-name>
    <servlet-class>PetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetListServlet</servlet-name>
    <url-pattern>/PetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PetSessionInfo</display-name>
    <servlet-name>PetSessionInfo</servlet-name>
    <servlet-class>PetSessionInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetSessionInfo</servlet-name>
    <url-pattern>/PetSessionInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartServlet</display-name>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLizardServlet</display-name>
    <servlet-name>AddLizardServlet</servlet-name>
    <servlet-class>AddLizardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLizardServlet</servlet-name>
    <url-pattern>/AddLizardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPetServlet</display-name>
    <servlet-name>EditPetServlet</servlet-name>
    <servlet-class>jp.co.axiz.servlet.EditPetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPetServlet</servlet-name>
    <url-pattern>/EditPetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePetServlet</display-name>
    <servlet-name>UpdatePetServlet</servlet-name>
    <servlet-class>jp.co.axiz.servlet.UpdatePetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePetServlet</servlet-name>
    <url-pattern>/UpdatePetServlet</url-pattern>
  </servlet-mapping>
</web-app>